
html
{   
    background: url("images/background.jpg");
    background-repeat: repeat;
    height: 100%;
}

body
{
    margin-left: auto;
    margin-right: auto;
}

header
{
    margin-top: -20px;
    float: left;
    width: 152px;
    height: 42px;
}

header figure
{
    width: 152px;
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 0px;
}

header figure figcaption
{
    font-family: 'Helvetica';
    font-style: italic;
    font-size: 9pt;
    width: 260px;
    color: #353535;
}

#heading
{
    font-size: 5px;
    color: white;
}

main
{
    margin-top: 10px;
    margin-left: auto;
    width: 95%;
    height: 100%;
}

nav
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 835px;
    height: 40px;
    line-height: 39px;
}

nav a
{
    font-family: 'Helvetica';
    font-size: 10pt;
    background-color: white;
    border-style: solid;
    border-color: #9E9E9E;
    border-width: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -6px;
}

#active
{
    border-bottom-color: black;
}

a.menu:link
{
    color: #616161;    
    text-decoration: none;
}
a.menu:hover
{
    color: #616161;
    background-color: #f2f2f2;
    border-bottom: solid blue;
    border-width: 1px;
}
a.menu:visited
{
    color: #616161;
}

#date
{
    position: relative;
    top: -12px;
    font-size: 10pt;
    margin-bottom: 0;
}

article
{
    font-family: 'arial','sans-serif';
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-color: slategray;
    float: left;
    margin-top: 10px;
    width: 68%;
    height: 100%;
}

.mainText
{
    width: 58%;
    float: left;
    padding-right: 30px;
}

#articleImg
{
    display: inline-block;
    float: left;
    width: 300px;
    height: auto;
}

.red
{
    color: #db1919;
    display: inline;
}
.orange
{
    color: #ff6600;
    display: inline;
}
.blue
{
    color: #1a1aff;
    display: inline;
}
.green
{
    color: #248f24;
    display: inline;
}
.pink0
{
    color: #cc00cc;
    display: inline;
}
.pink1
{
    color: #ff00ff;
    display: inline;
}
.darkPurple
{
    color: #333399;
    display: inline;
}
.grey
{
    color: #515151;
    display: inline;
}

p
{
    line-height: 17pt;
    margin-top: 12px;
    margin-bottom: 12px;
}

ul
{
    margin-top: -3px;
    margin-bottom: 12px;
}

ul li
{
    line-height: 17pt;
    padding-top: 8px;
}

h2
{
    margin-bottom: 0;
    margin-top: 10px;
}

h3, h4
{
    display: inline;
}

h4 + ul, h3 + ul
{
    margin-top: 4px;
}

div + h3, div + h4
{ 
    display: block;
    margin-bottom: 4px;
    margin-top: 8px;
}

h3 + img
{
    display: block;
}

.menuPage
{
    font-family: 'arial','sans-serif';
    border-style: none;
    float: left;
    margin-top: 10px;
    width: 94%;
    height: 100%;
}

.center
{
    text-align: center;
}

iframe
{
    border-style: none;
    max-width: 534px;
    width: 100%;
}

.sixItems
{
    display: inline-block;
    max-width: 690px;
}

.link
{
    display: inline-block;
    width: 100px;
    height: 140px;
    margin-left: 10px;
    line-height: 0px;
    overflow: hidden;
}

.link a
{
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background-color: transparent;
    padding-left: 0px;
    margin-left: 0px;
    font-size: 0pt;
}

.link p
{
    font-size: 10pt;
    line-height: 12pt;
    word-wrap: break-word;
    margin: 0;
    height: 35px;
    width: 96px;
    padding-bottom: 20px;
    padding-top: 5px;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.imgAside
{
    width: 211px;
    height: 158px;
}

.paddingBottom
{
    padding-bottom: 25px;
}

.hidden
{
    display:none
}

a.skip
{
    position: absolute;
    top: -100%;
}

a.skip:focus, a.skip:active
{
    background-color: white;
    top: 60px;
    left: 45%; 
}

aside
{
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-color: slategray;
    float: right;
    margin-top: 10px;
    margin-right: 1%;
    width: 30%;
    height: 100%;
}

aside figure
{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;    
}

figure figcaption.photoCaption
{
    font-family: 'arial','sans-serif';
    font-size: 11pt;
    display: inline;
    position: absolute;
    padding-left: 10px;
    width: auto;
    text-align: left;
}

figure img.imgAside
{
    transition: width 100ms ease, height 100ms ease;
    width: 211px;
    height: 158px;
}

figure img.imgAside:hover
{
    transition: width 100ms ease, height 100ms ease; 
    width: 300px;
    height: 225px;
}

.link img:hover
{ 
    animation-name: menuItemMark;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    color: black;
    border-style: solid;
    border-width: 1px;
}
.link img
{
    animation-name: menuItemUnmark;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    color: #8f8d8d;
    border-style: dashed;
    border-width: 1px;
}

#birdPage {
    margin-left: auto;
    margin-right: auto;
}

#birdFilter
{
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    border-top: none;
    border-bottom: none;
    border-color: slategray;
}

.menuPart {
    vertical-align: top;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
    display: inline-block;
}

.menuAttrs {
    display: inline-block;
}

output {
    display: block;
    padding: 0.5%;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    border-top: none;
    border-bottom: none;
    border-color: slategray;
    text-align: left;
}

.birdCard {
    display: inline-block;
    padding: 5px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: slategray;
    vertical-align: top;
    margin: 2px;
}

.birdCard h4 {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

.birdCard h6, h5 {
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
}

.birdCard img {
    border-radius: 5px;
    margin-left: 1px;
    margin-right: 1px;
}

.birdLink {
    display: inline-block;
    color: buttontext;
    background-color: buttonface;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom 1px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    text-decoration: none;
    margin-right: 3px;
    font-size: 11pt;
}

.singleBlock {
    display: block;
}

.birdGender {
    display: inline-block;
}

.birdInfo {
    display: inline-block;
    vertical-align: top;
}

.birdLatin {
    font-size: 10pt;
}

details {
    font-size: 11pt;
    display: inline-block;
}

details[open] {
    display: block;
}

details p {
    margin-top: 1%;
    margin-bottom: 1%;
}

.bold {
    font-weight: bold;
}

.female {
    border-style: solid;
    border-width: 2px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-color: slategray;
}

summary {
    display: inline-block;
    color: buttontext;
    background-color: buttonface;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom 1px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    text-decoration: none;
    margin-right: 3px;
    font-size: 11pt;
}

details div {
    display: inline-block;
}

.femaleDetails {
    padding-left: 20px;
}

.birdCard p {
    margin-top: 0;
    margin-bottom: 0;
}

.birdNote {
    font-size: 11pt;
    margin-left: 2px;
    padding-bottom: 2px;
}

@keyframes menuItemMark 
{
    0%   {width:92px; height:92px;}
    100% {width:96px; height:96px;}
}

@keyframes menuItemUnmark
{
    0%   {width:96px; height:96px;}
    100% {width:92px; height:92px;}
}

@media only screen and (max-width: 1530px)
{
    .mainText
    {
        float: none;
        width: 99%;
        padding: 0;
    }
    #articleImg
    {
    	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	float: none;
    }
    figure figcaption.photoCaption
    {
    	display: block;
    	position: relative;
    	padding-left: 0px;
    }
}
@media only screen and (max-width: 970px)
{
    nav
    {
        padding-top: 40px;        
    }
    header
    {
        padding-top: 2px;
        float: none;
    }
    article
    {
        border-style: none;
        float: none;
        width: 99%;
        padding-top: 40px;    
    }
    aside
    {
        border-style: none;
        margin: 0;
        width: 100%;
    }
    aside figure
    {
        text-align: center;
        margin-left: 0px
    }
    figure figcaption.photoCaption
    {
    	display: inline;
    	position: absolute;
    	padding-left: 10px;
    }
    .center img
    {
    	max-width: 100%;
	height: auto;
    }
@media only screen and (max-width: 456px)
{
    nav
    {
        padding-top: 40px;        
    }
    header
    {
        padding-top: 2px;
        float: none;
    }
    article
    {
        border-style: none;
        float: none;
        width: 99%;
        padding-top: 40px;    
    }
    .mainText
    {
        float: none;
        width: 99%;
        padding: 0;
    }
    #articleImg
    {
    	display: block;
  	margin-left: auto;
  	margin-right: auto;
    }
    aside
    {
        border-style: none;
    }
    aside figure
    {
        text-align: left;
        margin-left: 0px
    }
    #articleImg
    {
        float: none;
    }
    .center img
    {
    	max-width: 100%;
	height: auto;
    }
}
@media only print
{
    nav
    {
        display: none;
    }
    header
    {
        display: none;
    }
    article
    {
        border-style: none; 
        width: 100%;
    }
    aside
    {
        border-style: none;
        margin: 0px;
    }
    main
    {
        width: 1005px;
    }
    .mainText
    {
        width: 100%;
        padding: 0;
    }
}
